/* Medium devices <tablets, 768px and up */
@media (min-width: 768px) {
    .sub-hero h2 {
        max-width: 650px;
        margin: 0 auto;
    }

    .contact h3 {
        max-width: 400px;
    }
    .contact form {
        width: 400px;
    }
}


/* large devices (desktop, 992px and up) */
@media (min-width: 992px) {
    .sub-hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sub-hero h2 {
        text-align: left;
        width: 500px;
        margin: 0;
    }
    
    .sub-hero img {
        width: 400px;
    }
}


/* X-large devices (large desktop, 1200px and up) */
@media (min-width: 1200px) {
    #pricing {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .about p {
        line-height: 1.5;
    }
}